@CHARSET "UTF-8";

form{
	width: 450px;
}
input {
	margin-top: 5px;
	margin-right: 0;
}
table{
	border-collapse: collapse;
	margin-bottom: -1px;
	
}
td{
	width: 100px;
	border:1px solid lightgrey;
	text-align: left;
}
tr > td:Last-CHILD{
	width:auto;
}
