@CHARSET "UTF-8";

form{
	width: 250px;
}
input {
	margin-top: 5px;
	margin-right: 0;
}
table{
	border-collapse: collapse;
	margin-bottom: -1px;
	
}
td{
	width: 100px;
	border:1px solid grey;
	
}